@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply text-5xl font-bold
  }

  h2 {
    @apply text-3xl font-bold
  }

  h3 {
    @apply capitalize text-2xl
  }

  p {
    @apply text-lg selection:bg-slate-100 selection:text-black
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-link {
    @apply text-slate-400 hover:underline 
      hover:text-slate-300 bg-clip-text
  }
  .blue-purple-gradient {
    @apply bg-gradient-to-r from-cyan-200 to-purple-400
  }
	.animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-1200 {
    animation-delay: 1.2s;
  }
  .animation-delay-1800 {
    animation-delay: 1.8s;
  }
}

@layer components {
  .particle-background {
    @apply absolute top-0 left-0 block z-0
  }
  .tooltip {
    @apply bg-slate-100 text-slate-900 px-4 py-1 rounded-md
  }
  .card {
    @apply bg-slate-100 w-full h-fit
  }
  .nav-button {
    @apply w-full flex place-content-center p-5 relative text-white
      active:text-white/50 duration-200
  }
  .nav-button-icon {
    @apply place-content-center text-xl uppercase
      opacity-0 ease-in-out pr-4 duration-300 absolute top-1/2 -translate-y-1/2
  }
  .nav-button-text {
    @apply text-center text-xl uppercase
      ease-in-out duration-300
  }
  .modal-open {
    @apply overflow-hidden
  }
}

@theme {
	--animate-terminal-popup: terminal-popup 1.2s forwards;
	@keyframes terminal-popup {
		0% {
			transform: translateY(120%);
			opacity: 100%;
		}
		100% {
			transform: translateY(0%);
			opacity: 100%;
		}
	};

	--animate-navbar-popup: navbar-popup 0.6s forwards;
	@keyframes navbar-popup {
		0% {
			transform: scale(0);
			opacity: 100%;
		}
		100% {
			transform: scale(1);
			opacity: 100%;
		}
	};

	--animate-loading-page: loading-page 1s ease-in forwards;
	@keyframes loading-page {
		0% {
			opacity: 100%;
		}
		100% {
			opacity: 0%;
			visibility: hidden;
		}
	}

	--animate-page-loading-bar: page-loading-bar 0.8s forwards ease-in-out;
	@keyframes page-loading-bar {
		0% {
			width: 0%;
		}
		100% {
			width: 100%;
		}
}
}
