@import "tailwindcss";

:root {
  --p: 1rem;
  --font-scale: 1.2;
  --h6: calc(var(--p) * var(--font-scale));
  --h5: calc(var(--h6) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}

@layer base {
	p {
		font-size: var(--p);
	}
	h6 {
		font-size: var(--h6);
		font-weight: 500;
		font-family: var(--font-title);
	}
	h5 {
		font-size: var(--h5);
		font-weight: 500;
		font-family: var(--font-title);
	}
	h4 {
		font-size: var(--h4);
		font-weight: 500;
		font-family: var(--font-title);
	}
	h3 {
		font-size: var(--h3);
		font-weight: 500;
		font-family: var(--font-title);
	}
	h2 {
		font-size: var(--h2);
		font-weight: 500;
		font-family: var(--font-title);
	}
	h1 {
		font-size: var(--h1);
		font-weight: 500;
		font-family: var(--font-title);
	}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-link {
    @apply text-slate-400 hover:underline 
      hover:text-slate-300 bg-clip-text
  }
  .primary-gradient {
    @apply bg-gradient-to-r from-primary to-accent-1
  }
  .button-gradient {
    @apply bg-gradient-to-r from-frozen-lake-500 to-mauve-magic-400
  }
	.animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-1200 {
    animation-delay: 1.2s;
  }
  .animation-delay-1800 {
    animation-delay: 1.8s;
  }
	.line-height-md {
		line-height: 1.5rem;
	}
	.line-height-lg {
		line-height: 1.75rem;
	}
	.line-height-xl {
		line-height: 2rem;
	}
}

@layer components {
  .particle-background {
    @apply absolute top-0 left-0 block z-0
  }
  .tooltip {
    @apply bg-slate-100 text-slate-900 px-4 py-1 rounded-md
  }
  .card {
    @apply bg-slate-100 w-full h-fit
  }
  .nav-button {
    @apply w-full flex place-content-center py-4 relative text-foreground
      active:text-foreground/50
  }
  .nav-button-icon {
    @apply place-content-center text-xl pr-4
  }
  .nav-button-text {
    @apply text-center text-xl lowercase
  }
  .modal-open {
    @apply overflow-hidden
  }
	.tooltip {
		@apply bg-foreground rounded-xl text-background px-2 text-xs
	}
}

@theme {
	--font-body: var(--font-body);
	--font-title: var(--font-title);

	--color-primary: var(--color-frozen-lake-300);
	--color-accent-1: var(--color-mauve-magic-300);
	--color-accent-2: var(--color-tangerine-dream-300);
	--color-accent-3: var(--color-mint-glow-300);
	--color-secondary: var(--color-mauve-magic-200);
	--color-foreground: var(--color-frozen-lake-50);
	--color-background: #111111;
	--color-background-2: var(--color-slate-900);
	--color-background-3: var(--color-slate-500);
	--color-success: var(--color-green-400);
	--color-error: var(--color-red-400);
	--color-warning: var(--color-amber-400);
	--color-info: var(--color-blue-400);

	--color-frozen-lake-50: #e6f8ff;
	--color-frozen-lake-100: #cdf0fe;
	--color-frozen-lake-200: #9be1fd;
	--color-frozen-lake-300: #68d3fd;
	--color-frozen-lake-400: #36c4fc;
	--color-frozen-lake-500: #04b5fb;
	--color-frozen-lake-600: #0391c9;
	--color-frozen-lake-700: #026d97;
	--color-frozen-lake-800: #024864;
	--color-frozen-lake-900: #012432;
	--color-frozen-lake-950: #011923;

	--color-mauve-magic-50: #f9e6ff;
	--color-mauve-magic-100: #f4cdfe;
	--color-mauve-magic-200: #e89bfd;
	--color-mauve-magic-300: #dd68fd;
	--color-mauve-magic-400: #d136fc;
	--color-mauve-magic-500: #c604fb;
	--color-mauve-magic-600: #9e03c9;
	--color-mauve-magic-700: #770297;
	--color-mauve-magic-800: #4f0264;
	--color-mauve-magic-900: #280132;
	--color-mauve-magic-950: #1c0123;

	--color-tangerine-dream-50: #ffede6;
	--color-tangerine-dream-100: #fedbcd;
	--color-tangerine-dream-200: #fdb79b;
	--color-tangerine-dream-300: #fd9268;
	--color-tangerine-dream-400: #fc6e36;
	--color-tangerine-dream-500: #fb4a04;
	--color-tangerine-dream-600: #c93b03;
	--color-tangerine-dream-700: #972c02;
	--color-tangerine-dream-800: #641e02;
	--color-tangerine-dream-900: #320f01;
	--color-tangerine-dream-950: #230a01;

	--color-mint-glow-50: #ebffe6;
	--color-mint-glow-100: #d7fecd;
	--color-mint-glow-200: #b0fd9b;
	--color-mint-glow-300: #88fd68;
	--color-mint-glow-400: #61fc36;
	--color-mint-glow-500: #39fb04;
	--color-mint-glow-600: #2ec903;
	--color-mint-glow-700: #229702;
	--color-mint-glow-800: #176402;
	--color-mint-glow-900: #0b3201;
	--color-mint-glow-950: #082301;

	--animate-terminal-popup: terminal-popup 1.2s forwards;
	@keyframes terminal-popup {
		0% {
			transform: translateY(120%);
			opacity: 100%;
		}
		100% {
			transform: translateY(0%);
			opacity: 100%;
		}
	};

	--animate-navbar-popup: navbar-popup 0.6s forwards;
	@keyframes navbar-popup {
		0% {
			transform: scale(0);
			opacity: 100%;
		}
		100% {
			transform: scale(1);
			opacity: 100%;
		}
	};

	--animate-loading-page: loading-page 1s ease-in forwards;
	@keyframes loading-page {
		0% {
			opacity: 100%;
		}
		100% {
			opacity: 0%;
			visibility: hidden;
		}
	}

	--animate-page-loading-bar: page-loading-bar 0.8s forwards ease-in-out;
	@keyframes page-loading-bar {
		0% {
			width: 0%;
		}
		100% {
			width: 100%;
		}
}
}
